*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styled */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: auto;

}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

/* mainstyle */
header {
    padding-top: 51px;
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;

}

.logo h2 {
    font-size: 45px;
}

.color-orange {
    color: #FD6E0A;
    font-weight: 900px;
}

nav {
    width: 72%;
    max-width: 1140px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu {
    display: flex;
    list-style-type: none;
    gap: 61px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color:#474747;
    text-decoration: none;
}

#banner {
    /* border: 1px solid red; */
    margin: 154px 61px 0 251px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content {
    max-width: 585px;
}

#banner .banner-content h3 {
    font-size: 45px;
    font-weight: 600px;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 65px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .banner-content p {
    font-size: 15px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

#banner .banner-image img {
    max-width: 584px;
    margin-bottom: 7px;
}

#about{
    padding-top: 100px;
    
}
#about .about-container{
    width: 72%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.about-info .info-card h4{
    font-size: 20px;

}
#skill{
    padding-top: 130px;
}
#skill .skill-container{
    width: 72%;
    max-width: 1140px;
    margin: 0 auto;
    
}
#skill .skill-container .skill-box{
    display: flex;
    gap: 24px;
}

.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    max-width: 267px;
    box-shadow: 0 6px 50px 0 #00000054;
}

.skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}